@tailwind base;
@tailwind components;
@tailwind utilities;

.links a img {
  filter: invert(100%);
  transition: 0.25s filter ease-in-out, 0.25s -webkit-filter ease-in-out;
}

.links a:hover img {
  filter: invert(14%) sepia(96%) saturate(5143%) ;
}